# IntelliJ IDEA
.idea/
*.iml
*.iws

# Maven
target/

# Logs
*.log

# Spring Boot
*.jar
*.war
*.ear

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Angular
dist/
out-tsc/
.angular/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp