<div class="flex h-40vh flex-row justify-between items-center w-full" style="background-color: rgba(51,51,51,0);">
  <div class="flex m-6 flex-col justify-start items-center w-full">
    <ul class="m-0 p-0">
      <li class="ml-8 p-0">Workflow</li>
    </ul>
    <h1 class="m-0 p-0 ">Home Page</h1>
  </div>
</div>
<main>
  <div>
    <app-search-for-services></app-search-for-services>
  </div>
  <div>
    <app-view-featured-services></app-view-featured-services>
  </div>
  <div>
    <app-login-register></app-login-register>
  </div>
</main>
